#carousel {
  position: fixed;
  height: 100%;
  width: 100%
}

.slick-list, .slick-track, .slick-slide {
  height: 100%;
}

.slick-list {
  position: relative;
}

.slide-content {
  height: 76vh;
  position: relative;
  top: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide-text-container {
  background-size: cover;
  background-position: center;
  h1 {
    font-size: 6vw;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 20px #000000;
    text-align: center;
    margin: 0;
  }
}
.slide-text-container[index="0"] {
  background-image: url(gifs/blues.gif);
}
.slide-text-container[index="1"] {
  background-image: url(gifs/crowd.gif);
}
.slide-text-container[index="2"] {
  background-image: url(gifs/zaralarsson.gif);
}
.slide-text-container[index="3"] {
  background-image: url(gifs/disco.gif);
}
.slide-text-container[index="4"] {
  background-image: url(gifs/rave.gif);
}