#carousel {
  position: fixed;
  height: 100%;
  width: 100%
}

.slick-list, .slick-track, .slick-slide {
  height: 100%;
}

.slick-list {
  position: relative;
}

.slide-content {
  height: 76vh;
  position: relative;
  top: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
